<div id="footer">
  &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="https://github.com/yvshuo" target="_blank">Yvshuo</a>
</div>