<div id="header">
  <a id="logo" href="/">
    <img src="<%= theme.logo %>">
    <span><%= theme.title %></span>
  </a>
  <ul id="nav">
    <%- partial('_partial/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>
    
